

.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("https://images.pexels.com/photos/3293148/pexels-photo-3293148.jpeg?auto=compress&cs=tinysrgb&w=1600") ;
    object-fit: cover;
    background-size: cover;
    color: white;
}

.loginTitle{
    font-size: 50px;
    color: white;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.loginForm>label{
    margin:10px 0;
}

.loginInput{
    padding:10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(52, 32, 1);
    border: none;
    color: white;
    border-radius:10px ;
    padding: 10px;
}

.loginRegisterButton{
    position:absolute;
    top:60px;
    right: 20px;
    background-color: rgb(234, 200, 193);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: rgb(36, 26, 26);
    padding: 5px;
}
